﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Street Fairs</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <div class="container-fluid mt-1">
            <div class="row">
                <div class="col-2">
                    <select class="form-select form-select" style="width:200px;" name="typeSearch" id="typeSearch">
                        <option value="id">ID</option>
                        <option value="regiao5">Região 5</option>
                        <option value="distrito">Distrito</option>
                        <option value="nomefeira">Nome Feira</option>
                        <option value="bairro">Bairro</option>
                    </select>
                </div>
                <div class="col-4">
                    <input type="text" id="txtStreetFair" class="form-control" />
                </div>
                <div class="col">
                    <input type="button" id="btnStreetFair" value="Procurar" onclick="Search();" class="btn btn-primary" />
                </div>
                <div class="col-4">
                    <input type="button" id="btnAdd" value="Adicionar" onclick="Add();" class="btn btn-secondary" />
                </div>
            </div>
            <div clsss="row">
                <p id="streetFair" />
            </div>
        </div>
        <div id="divInsert" style="display:none;" class="container-fluid m-md-5">
            <div class="row">
                <div class="col">
                    <form>
                        <div class="form-group row my-2">
                            <label class="col-sm-1 col-form-label">Região 5</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="txtRegiao5">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label class="col-sm-1 col-form-label">Distrito</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="txtDistrito">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label class="col-sm-1 col-form-label">Bairro</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="txtBairro">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label class="col-sm-1 col-form-label">Nome Feira</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="txtNomeFeira">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <div class="col-sm-2">
                                <input type="button" value="Cancelar" onclick="Cancel();" class="btn btn-secondary" />
                                <input type="button" value="Inserir" onclick="Insert();" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="divUpdate" style="display:none;" class="container-fluid m-md-5">
            <div class="row">
                <div class="col">
                    <form>
                        <div class="form-group row my-2">
                            <label for="staticEmail" class="col-sm-1 col-form-label">ID</label>
                            <div class="col-sm-2">
                                <input type="text" readonly class="form-control-plaintext" id="u_txtId">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="staticEmail" class="col-sm-1 col-form-label">Região 5</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="u_txtRegiao5">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="staticEmail" class="col-sm-1 col-form-label">Distrito</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="u_txtDistrito">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="staticEmail" class="col-sm-1 col-form-label">Bairro</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="u_txtBairro">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="staticEmail" class="col-sm-1 col-form-label">Nome Feira</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="u_txtNomeFeira">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <div class="col-sm-2">
                                <input type="button" value="Cancelar" onclick="Cancel();" class="btn btn-secondary" />
                                <input type="button" value="Atualizar" onclick="Change();" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr />
        <div>
            <table class="table table-striped caption-top">
                <caption class="h1">Feiras</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Regiao 5</th>
                        <th>Distrito</th>
                        <th>Bairro</th>
                        <th>Nome Feira</th>
                        <th></th>
                    <tr></tr>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
            <ul id="streetFairs"></ul>
        </div>
    </div>
</body>
<script>
    var uri = "/api/StreetFair/";
    $(document).ready(function () {
        $.getJSON(uri)
            .done(function (data) {
                $.each(data, function (key, item) {
                    formatItem(item);
                });
            });
    });

    function formatItem(item) {
        var content = '<tr>';
        content += '<td>' + item.id + '</td>';
        content += '<td>' + item.regiao5 + '</td>';
        content += '<td>' + item.distrito + '</td>';
        content += '<td>' + item.bairro + '</td>';
        content += '<td>' + item.nome_feira + '</td>';
        content += "<td><input type='button' value='Alterar' onclick='Update(" + JSON.stringify(JSON.stringify(item)) + ");' class='btn btn-secondary'/></td>";
        content += '<td><input type=\"button\" value=\"X\" onclick=\"Delete(' + item.id + ');\" class=\"btn btn-danger\" /></td>';
        content += '</tr>';
        $('#tbody').append(content);
    }

    function createLine(data) {
        if (Array.isArray(data)) {
            $.each(data, function (key, item) {
                formatItem(item);
            });
        } else {
            formatItem(data);
        }
    }

    function Search() {
        $('#streetFair').text("");
        var text = $('#txtStreetFair').val();
        var ts = $('#typeSearch').val();
        var newURI = ""
        if (ts === '')
            newURI = uri
        else if (ts === 'id')
            newURI = uri + text;
        else
            newURI = uri + ts + '?searchText=' + text;

        $.getJSON(newURI)
            .done(function (data) {
                $('#tbody').empty();
                createLine(data);
            })
            .fail(function (jqXHR, textStatus, err) {
                $('#streetFair').text('Não encontrado');
                $('#tbody').empty();
            });
    }

    function Delete(id) {
        if (window.confirm("O item será removido, deseja continuar?")) {
            $.ajax({
                url: uri + id,
                type: 'DELETE',
                success: function (result) {
                    Search();
                }
            });
        }
    }

    function Add() {
        $('#divInsert').show();
    }

    function Insert() {
        var regiao5 = $('#txtRegiao5').val();
        var distrito = $('#txtDistrito').val();
        var bairro = $('#txtBairro').val();
        var nomeFeira = $('#txtNomeFeira').val();
        var json = "{'regiao5':'" + regiao5 + "', 'distrito':'" + distrito + "', 'bairro':'" + bairro + "', 'nome_feira':'" + nomeFeira + "'}";
        $.ajax({
            url: uri,
            type: 'POST',
            data: json,
            contentType: "application/json",
            success: function () {
                $('#divInsert').hide();
                Search();
            },
            error: function (err) {
                alert(err);
            }
        });
    }

    function Update(item) {
        $('#u_txtId').val(JSON.parse(item).id);
        $('#u_txtRegiao5').val(JSON.parse(item).regiao5);
        $('#u_txtDistrito').val(JSON.parse(item).distrito);
        $('#u_txtBairro').val(JSON.parse(item).bairro);
        $('#u_txtNomeFeira').val(JSON.parse(item).nome_feira);
        $('#divUpdate').show();
    }

    function Cancel() {
        $('#divInsert').hide();
        $('#divUpdate').hide();
    }

    function Change() {
        var id = $("#u_txtId").val();
        var regiao5 = $('#u_txtRegiao5').val();
        var distrito = $('#u_txtDistrito').val();
        var bairro = $('#u_txtBairro').val();
        var nomeFeira = $('#u_txtNomeFeira').val();
        var json = "{'id':" + id + ",'regiao5':'" + regiao5 + "', 'distrito':'" + distrito + "', 'bairro':'" + bairro + "', 'nome_feira':'" + nomeFeira + "'}";
        $.ajax({
            url: uri,
            type: 'PUT',
            data: json,
            contentType: "application/json",
            success: function () {
                $('#divUpdate').hide();
                Search();
            },
            error: function (err) {
                alert(err);
            }
        });
    }
</script>
</html>